# Puerto en el que se ejecutará el servidor Express
PORT=3001

# Cadena de conexión a la base de datos PostgreSQL
# Reemplaza los valores de usuario, contraseña, host, puerto y base de datos según tu entorno.
DATABASE_URL=postgres://usuario:contrasena@localhost:5432/repara_tu_calle